server:
  port: ${PORT:8080}
  address: 0.0.0.0

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  datasource:
    url: jdbc:postgresql://dpg-d4f9a1drnu6s73due9f0-a.oregon-postgres.render.com/guia_rq
    username: guia_rq_user
    password: tbksHYYiSgPKYZmAzDkbsnPagL2uNODj
    driver-class-name: org.postgresql.Driver

  hikari:
    maximum-pool-size: 10
    connection-timeout: 30000
    idle-timeout: 600000
    max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:}
    password: ${EMAIL_PASSWORD:}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
    default-encoding: UTF-8

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  public-key: ${STRIPE_PUBLIC_KEY:}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET:}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: WARN
